
* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.xml-editor {
  grid-column: 1 / 2;
}
.xml-editor .ace_editor {
  width: 100% !Important;
  height: 100% !Important;
}

.gui-editor {
  grid-column: 2 / 3;
  background: #F9F9F9;
  overflow-y: scroll;
  padding: 40px 10px;
}

.gui-editor .disabled-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
  background: rgba(170, 207, 231, 0.4);
}
.gui-editor.gui-enabled .disabled-overlay {
  display: none;
}
.gui-editor.gui-disabled .disabled-overlay {
  display: block;
}

.gui-element {
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  margin: 20px 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2,minmax(40px, 80px)) 40px auto 40px 40px;
  grid-template-rows: 50px 50px 50px auto;
  align-items: center;
}
.gui-element input {
  border: none;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 3px 10px;
  line-height: 18px;
  width: calc(100% - 10px);
  color: rgba(0,0,0,0.9);
}
.gui-element .qtype {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}
.gui-element .qlabel {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.gui-element .qcond {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.gui-element .qtitle {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}
.gui-element .qinstructions {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
}
.gui-element .qinstructions input {
  font-style: italic;
}
.gui-element label {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  line-height: 16px;
}
.gui-element-rows {
  grid-row: 4 / 5;
  grid-column: 1 / 7;
  margin: 0;
  margin-top: 20px;
}
.gui-element-row {
  display: grid;
  grid-template-columns: repeat(2,minmax(40px, 50px)) 40px auto 40px 40px;
  align-items: center;
  margin: 10px 0;
}
.gui-element-row input {
  padding: 3px 10px;
  width: calc(100% - 10px);
  line-height: 18px;
}
.gui-element-row .label {
  grid-column: 1 / 2;
}
.gui-element-row .value {
  grid-column: 2 / 3;
}
.gui-element-row .text {
  grid-column: 3 / 5;
}

.gui-element-row:nth-of-type(1) label.label::before {
  content: "Label:";
}
.gui-element-row:nth-of-type(1) label.value::before {
  content: "Value:";
}
.gui-element-row:nth-of-type(1) label.text::before {
  content: "Text:";
}

.gui-element-options {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px 40px;
}
.gui-element-options input {
  appearance: none;
  display: block;
  padding: 5px;
  margin: 5px 0;
  line-height: 20px;
  width: calc(100% - 10px);
  background: rgba(255,255,255,0.8);
  color: rgba(0,0,0,0.9);
  text-align: center;
}
.gui-element-options input:checked {
  background: #BEEBFF;
}
.gui-element-options input[name="rows"] {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.gui-element-options input[name="rows"]::after {
  content: "rows";
}
.gui-element-options input[name="cols"] {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.gui-element-options input[name="cols"]::after {
  content: "cols";
}
.add-element {
  width: 50%;
  background: lightgreen;
  border:none;
  padding: 20px;
}